project:
  type: website
  output-dir: _site
  pre-render:
    - assets/scripts/make-listings.sh

author-meta: "Mickaël CANOUIL"
date-meta: 2023-12-09
lang: en
date-format: "dddd[, the] Do [of] MMMM, YYYY"

website:
  site-url: https://m.canouil.dev/quarto-extensions/
  repo-url: https://github.com/mcanouil/quarto-extensions
  repo-actions: [edit, issue]
  repo-link-target: _blank
  title: Quarto Extensions
  description: |
    Explore the 'Quarto Extensions' website, a comprehensive repository of extensions designed to enhance your Quarto experience.
    From new formats and shortcodes to filters that enrich your content with icons and text highlights,
    our collection is tailored to empower your projects with added functionality and flair.
    Dive into a world where creativity meets efficiency, and elevate your Quarto creations to new heights.
  image: "assets/media/quarto-extensions.png"
  favicon: "assets/media/quarto-extensions.svg"
  page-navigation: true
  back-to-top-navigation: true
  open-graph: true
  twitter-card: true
  page-footer:
    border: true
    left: |
      Powered by [[{{< iconify simple-icons:quarto title='Quarto Logo' label='Quarto Logo' >}}]{style="color:#74aadb;"} Quarto](https://quarto.org).
    center: |
      &copy; []{#current-year} [Mickaël CANOUIL](https://mickael.canouil.fr/).
    right: |
      [[{{< iconify octicon:heart-16 title='Heart Sponsor' label='Heart Sponsor' >}}]{style="color:#c96198;"} Sponsor](https://github.com/sponsors/mcanouil?o=esb).
  navbar:
    logo: "assets/media/quarto-extensions.svg"
    logo-alt: "Quarto Extensions Logo"
    background: dark
    left:
      - text: Extensions
        href: index.qmd
    right:
      - text: "{{< iconify octicon:question-16 title='Help' label='Help' >}} About"
        href: about.qmd
      - text: "{{< iconify octicon:mark-github-16 title='GitHub Source Repository' label='GitHub Source Repository' >}}"
        href: "https://github.com/mcanouil/quarto-extensions"
        target: _blank
      - text: "{{< iconify simple-icons:quarto title='Quarto Documentation' label='Quarto Documentation' >}}"
        href: "https://quarto.org/"
        target: _blank
      - text: '[]{.quarto-wizard title="Quarto Wizard" aria-label="Quarto Wizard"}'
        href: "https://github.com/mcanouil/quarto-wizard"
        target: _blank

brand:
  light: assets/brand/light.yml
  dark: assets/brand/dark.yml

format:
  html:
    theme:
      light:
        - cosmo
        - assets/stylesheets/theme.scss
        - assets/stylesheets/wizard.scss
        - brand
      dark:
        - cosmo
        - assets/stylesheets/theme.scss
        - assets/stylesheets/wizard.scss
        - brand
    highlight-style: github
    include-after-body:
      - file: assets/scripts/ordinal-dates.html
      - file: assets/scripts/current-year.html
    grid:
      body-width: 950px
    anchor-sections: true
    email-obfuscation: javascript
    link-external-newwindow: true
    code-copy: true
    code-link: true
    code-tools:
      source: false
      toggle: false
      caption: none
