/*-- scss:defaults --*/

/*-- scss:rules --*/
.hovercard {
  flex: 0 50%;
  background: $light;
  box-shadow: 0 2px 4px 0 rgba($gray-300, 0.2), 0 5px 15px 0 rgba($gray-700, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
}

.hovercard:hover {
  background: $primary;
  color: $light;
  transform: scale(1.1);
  z-index: 9;
}

.hovercard:hover::before {
  background: rgba($gray-300, 0.1);
}

.hovercard:hover .card-title,
.hovercard:hover .card-text,
.hovercard:hover a {
  color: $light;
}

.ribbon {
  position: absolute;
  top: 25px;
  right: -50px;
  width: 200px;
  padding: 5px;
  background: $primary;
  color: $light;
  text-align: center;
  transform: rotate(45deg);
  font-weight: bold;
}

.hovercard:hover .ribbon {
  background: $light;
  color: $primary;
}
