/*-- scss:defaults --*/

/*-- scss:rules --*/
.navbar-title {
  display: none !important;
}

.category {
  text-transform: uppercase;
}

.category:hover {
  color: $primary;
  font-weight: bold;
}

.quarto-grid-item .listing-categories .listing-category:hover {
  color: $primary;
  border: solid 1px $primary;
}

.quarto-grid-item .card-title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.quarto-grid-item .card-other-values tr>td:first-of-type {
  font-weight: 600;
  padding-right: 1em;
  padding-left: 1em;
  vertical-align: top;
  text-transform: capitalize;
}

.quarto-grid-link:hover {
  color: $primary;
  text-decoration: underline;
}

#quarto-back-to-top {
  z-index: 100; /* Make sure it's above everything else */
}
