/*-- scss:defaults --*/

/*-- scss:rules --*/
.navbar-title {
  display: none;
}

.category {
  text-transform: uppercase;
}
.quarto-grid-item .card-title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.quarto-grid-item .card-other-values tr>td:first-of-type {
  font-weight: 600;
  padding-right: 1em;
  padding-left: 1em;
  vertical-align: top;
  text-transform: capitalize;
}
