name: Check Duplicate

on:
  workflow_dispatch:
  pull_request:

permissions:
  pull-requests: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  check-duplicate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check for duplicates
        shell: bash
        run: |
          FILE='extensions/quarto-extensions.csv'
          COLUMN=2
          duplicates=$(awk -F, -v col=$COLUMN '{print $col}' $FILE | sort | uniq -d)
          if [[ -n "$duplicates" ]]; then
          while read -r duplicate; do
            grep -n "$duplicate" $FILE | tail -n +2 | while read -r line ; do
            lineNumber=$(echo $line | cut -d: -f1)
            echo "::error file=$FILE,line=$lineNumber,endLine=$lineNumber,title=Duplicate Entry::Duplicate value '$duplicate' found"
            done
          done <<< "$duplicates"
          # exit 1
          fi
          
